<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanessa Chu's Profile</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="js/angular/app.js" defer></script>
    <!-- Directives -->
    <script src="js/angular/directives/modal.js" defer></script>
    <script src="js/angular/directives/timeline.js" defer></script>

    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/section.css" />
    <script src="js/tabs.js"></script>
  </head>
  <body ng-app="app">
    <div id="content">
      <noscript style="margin: 20px auto;">
        <p style="margin: 20px;">
          Please enable Javascript in order to display the content correctly
        </p>
      </noscript>
      <header>
        <div id="avatar"></div>
        <div id="desc">
          <h1 id="name">Vanessa Chu</h1>
          <h1 id="role">
            Software Engineer
          </h1>
          <h2 id="loc"><i class="fas fa-map-marker-alt"></i> New York, NY, USA</h2>
          <ul ng-controller="linksController">
            <li ng-repeat="link in links">
              <a ng-href="{{ link.link }}" title="{{ link.site }}">
                <i ng-hide="link.isimage" class="{{ link.class }}"></i>
                <img
                  ng-show="link.isimage"
                  height="52"
                  width="52"
                  src="{{ link.imglink }}"
                />
              </a>
            </li>
          </ul>
        </div>
      </header>
      <section>
        <nav>
          <ul>
            <li class="tablinks">
              <a href="javascript:openTab(event, 'AboutMe');">About Me</a>
            </li>
            <li class="tablinks">
              <a href="javascript:openTab(event, 'Skills');">Skills</a>
            </li>
            <li class="tablinks">
              <a href="javascript:openTab(event, 'Experience');">Experience</a>
            </li>
            <li class="tablinks">
              <a href="javascript:openTab(event, 'Portfolio');">Portfolio</a>
            </li>
          </ul>
        </nav>
        <article>
          <div id="AboutMe" class="tabcontent">
            <h1>About Me</h1>
            <p>
              Hi, welcome to my portfolio site! I'm Vanessa, a software engineer who enjoys working on fun and meaningful software projects. I have experience working on a wide variety of software projects from XR applications to games and web application.<br/>
              <br/>
              I recently graduated with a Bachelor degree in Computer Science and minor in Psychology from Florida International University. I have also attended The Grace Hopper Program at Fullstack Academy of Code, a coding bootcamp where I not only learned full-stack web applications using Javascript-based technologies (React.js and Node.js) but also gained experience working with industry-standard software engineering tools such as CI/CD, version control, project management tools and working in a small agile teams.
              <br/>
              <br/>
              I also have professional software engineering experience outside of classes. In the summer of 2022, I had an internship at Niantic, where I had the opportunity to work on one of the most popular AR mobile games, Pokémon Go, and learned to work at a large organization. During my last year at FIU, I worked with faculty members and fellow student developers on a VR application as an undergrad research assistant.
              <br/>
              <br/>
              I am most experienced and passionate about web, XR, and game development. However, I also am open to exploring new technology topics such as Machine Learning and Artificial Intelligence.
            </p>
          </div>
          <div id="Skills" class="tabcontent" ng-controller="skillsTab">
            <h1>Skills</h1>
            <div ng-repeat="skill in skills">
              <h3>{{ skill.category }}</h3>
              <ul>
                <li ng-repeat="item in skill.items">{{ item }}</li>
              </ul>
            </div>
          </div>
          <div id="Experience" class="tabcontent" ng-controller="expTab">
            <h1>Timeline</h1>
            <timeline experience="experience"></timeline>
          </div>

          <div id="Portfolio" class="tabcontent" ng-controller="portfolioTab">
            <h1>Portfolio</h1>
            <div ng-repeat="item in portfolio">
              <h3>{{ item.category }}</h3>
              <hr />
              <div class="items">
                <div class="item" ng-repeat="project in item.projects">
                  <a href="#" ng-click="toggle(project)">
                    <h4>{{ project.title }}</h4>
                    <img src="{{ project.img }}" />
                  </a>
                </div>
              </div>
            </div>
            <modal ng-show="show" item="item"></modal>
          </div>
        </article>
      </section>
    </div>
    <script>
      $("header").css("display", "flex");
      $("section").css("display", "flex");
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D7WLVEMKNT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-D7WLVEMKNT');
    </script>
  </body>
</html>
