<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanessa Chu's Profile</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="js/angular/app.js" defer></script>
    <!-- Directives -->
    <script src="js/angular/directives/modal.js" defer></script>
    <script src="js/angular/directives/timeline.js" defer></script>

    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/section.css" />
    <script src="js/tabs.js"></script>
  </head>
  <body ng-app="app">
    <div id="content">
      <noscript style="margin: 20px auto;">
        <p style="margin: 20px;">
          Please enable Javascript in order to display the content correctly
        </p>
      </noscript>
      <header>
        <div id="avatar"></div>
        <div id="desc">
          <h1 id="name">Vanessa Chu</h1>
          <h1 id="role">
            Software Engineer | Full Stack Web Developer
          </h1>
          <h2 id="loc"><i class="fas fa-map-marker-alt"></i> New York, NY</h2>
          <ul ng-controller="linksController">
            <li ng-repeat="link in links">
              <a ng-href="{{ link.link }}" title="{{ link.site }}">
                <i ng-hide="link.isimage" class="{{ link.class }}"></i>
                <img
                  ng-show="link.isimage"
                  height="52"
                  width="52"
                  src="{{ link.imglink }}"
                />
              </a>
            </li>
          </ul>
        </div>
      </header>
      <section>
        <nav>
          <ul>
            <li class="tablinks">
              <a href="javascript:openTab(event, 'AboutMe');">About Me</a>
            </li>
            <li class="tablinks">
              <a href="javascript:openTab(event, 'Skills');">Skills</a>
            </li>
            <li class="tablinks">
              <a href="javascript:openTab(event, 'Experience');">Experience</a>
            </li>
            <li class="tablinks">
              <a href="javascript:openTab(event, 'Portfolio');">Portfolio</a>
            </li>
          </ul>
        </nav>
        <article>
          <div id="AboutMe" class="tabcontent">
            <h1>About Me</h1>
            <p>
              I am Software Engineer who is professionally trained in web development and has industry experience in Software Engineering. 
              I graduated from The Grace Hopper Program in April 2019 and I am currently pursuing a Bachelor's degree in Computer Science. 
              My expertise is in web development. However, I am most interested in game development and AR/VR development, and I hope to gain professional experience in this field.
            </p>
          </div>
          <div id="Skills" class="tabcontent" ng-controller="skillsTab">
            <h1>Skills</h1>
            <div ng-repeat="skill in skills">
              <h3>{{ skill.category }}</h3>
              <ul>
                <li ng-repeat="item in skill.items">{{ item }}</li>
              </ul>
            </div>
          </div>
          <div id="Experience" class="tabcontent" ng-controller="expTab">
            <h1>Timeline</h1>
            <timeline experience="experience"></timeline>
          </div>

          <div id="Portfolio" class="tabcontent" ng-controller="portfolioTab">
            <h1>Portfolio</h1>
            <div ng-repeat="item in portfolio">
              <h3>{{ item.category }}</h3>
              <hr />
              <div class="items">
                <div class="item" ng-repeat="project in item.projects">
                  <a href="#" ng-click="toggle(project)">
                    <h4>{{ project.title }}</h4>
                    <img src="{{ project.img }}" />
                  </a>
                </div>
              </div>
            </div>
            <modal ng-show="show" item="item"></modal>
          </div>
        </article>
      </section>
    </div>
    <script>
      $("header").css("display", "flex");
      $("section").css("display", "flex");
    </script>
  </body>
</html>
